body {
    margin: 0;

}

p {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 34px;    
}

.cont2 {
    display: flex;
    justify-content: center;
}

button{
    position: absolute;
    left: 45%;
}

audio {
    display: none;
}